services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    App\UI\Http\:
        resource: '../src/UI/Http/'
        public: true
        tags: ['controller.service_arguments']

    App\Domain\Notification\NotificationRepository: '@App\Infrastructure\Notification\InMemoryNotificationRepository'
